<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Searched Hotel</title>
    <link rel="stylesheet" href="./css/searchedHotel.css" />
    
  </head>
  <link rel="stylesheet" href="./css/searchedHotel.css" />
  <body>
    <!-- Navigation Bar Start -->
    <nav>
      <!-- Left side of navigation bar -->
      <div class="nav-leftside">
        <a href="/index"><img class="logo" src="images/logo.svg" alt="img" /></a>
      </div>

    
    </nav>
    <!-- Navigation Bar End -->


    


    <div class="card-container" id="hotels">
      <% hotels.forEach(function(hotel) { %>
      
        <div class="card">

        <div class="card-img-scroll">
          <% hotel.imageLinks.forEach(function(link) { %>
          <img class="card-img" src="<%= link %>" alt="" />
          <% }); %>

          <button class="card-img-scroll-right">></button>
          <button class="card-img-scroll-left"><</button>
          <button class="card-heart">
            <i class="ri-heart-fill"></i>
          </button>
        </div>

        
        <div class="card-name">
            <h3 class="hotelName"><%= hotel.hotelName %></h3>
            
            <p class="card-address"><%= hotel.hotelAddress %></p>
            <p class="card-price">₹ <%= hotel.hotelPrice %> /night</p>

            <div class="card-rating">
              <i class="ri-star-line"></i>
              <p><%= hotel.rating %></p>
            </div>

            <% if (parseFloat(hotel.rating) > 4.7) { %>
            <p class="card-comment">fabulous</p>
            <% } %>
        </div>
       

      </div>

      <% }); %>
    </div>

    <!-- Include hidden input fields to pass check-in and check-out dates to frontend JavaScript -->
    <input class="checkInComing" type="hidden" id="checkInDate" value="<%= checkIn %>">
    <input   class="checkOutComing"  type="hidden" id="checkOutDate" value="<%= checkOut %>">

  

    
    <script src="./js/searchedHotel.js"></script>
  </body>
</html>
